service:
  name: auctions-service

plugins:
  - serverless-bundle
  - serverless-pseudo-parameters ##used for assigning values like Region and accountId,taking advantage of CFN pseudo parameters
  - serverless-iam-roles-per-function ###https://www.serverless.com/plugins/serverless-iam-roles-per-function

provider:
  name: aws
  runtime: nodejs12.x
  memorySize: 256
  stage: ${opt:stage, 'dev'}
  region:  us-east-2 ##  Region
  environment:  ##Defining variable to pass it to the JS File.
    AUCTION_TABLE_NAME: ${self:custom.AuctionTableDetails.name}
    AUTH_SIGNING_CERTIFICATE: ${file(Auth-Signing-Certificate.pem)}
    SQS_MAIL_QUEUE_URL: ${self:custom.SQSMailQueue.url}
    AUCTIONS_S3_BUCKET: ${self:custom.AuctionsS3ImagesBucket.name}
  iamRoleStatements:
   - ${file(iam/AuctionTableIAM.yml):AuctionTableIAM}
resources:
    Resources:
     AuctionsTable: ${file(resources/AuctionTable.yml):AuctionTable}
     AuctionsS3ImagesBucket: ${file(resources/AuctionTable.yml):AuctionsS3ImagesBucket}
     AuctionsS3ImagesBucketPolicy: ${file(resources/AuctionTable.yml):AuctionsS3ImagesBucketPolicy}
     GatewayResponse:
      Type: 'AWS::ApiGateway::GatewayResponse'
      Properties:
        ResponseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'*'"
        ResponseType: EXPIRED_TOKEN
        RestApiId:
          Ref: 'ApiGatewayRestApi'
        StatusCode: '401'
     AuthFailureGatewayResponse:
      Type: 'AWS::ApiGateway::GatewayResponse'
      Properties:
        ResponseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'*'"
        ResponseType: UNAUTHORIZED
        RestApiId:
          Ref: 'ApiGatewayRestApi'
        StatusCode: '401'
functions:
  createAuction:
    handler: src/handlers/createAuction.handler
    events:
      - http:
          method: POST
          path: /auction
          authorizer: ${self:custom.authorizer}

  getAuctions:
    handler: src/handlers/getAuction.handler
    events:
      - http:
          method: GET
          path: /auctions
          authorizer: ${self:custom.authorizer}

  getAuctionById: 
    handler: src/handlers/getAuctionById.handler
    events:
      - http:
          method: GET
          path: /auction/{id}
          authorizer: ${self:custom.authorizer}

  placingBid: 
    handler: src/handlers/placingBid.handler
    events:
      - http:
          method: PATCH
          path: /auction/{id}/bid
          authorizer: ${self:custom.authorizer}

  processingAuctions: 
    handler: src/handlers/processingAuctions.handler
    iamRoleStatements:
      - ${file(iam/AuctionTableIAM.yml):SQSMailQueue}
      - ${file(iam/AuctionTableIAM.yml):AuctionTableIAM}
    #events:
     # - schedule: rate(2 minutes)
  uploadAuctionPicture: 
    handler: src/handlers/uploadAuctionPicture.handler
    iamRoleStatements:
      - ${file(iam/AuctionTableIAM.yml):AuctionsBucketIAM}
      - ${file(iam/AuctionTableIAM.yml):AuctionTableIAM}

    events:
      - http:
          method: POST
          path: /auction/{id}/picture
          authorizer: ${self:custom.authorizer}


custom:
  AuctionTableDetails:
   name: !Ref AuctionsTable ###Getting the name of table
   arn: !GetAtt AuctionsTable.Arn ###Getting the arn
  authorizer: arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:auctions-authentication-service-${self:provider.stage}-LambdaAuthorizerFunction

  SQSMailQueue:
   arn: ${cf:auctions-notifications-service-${self:provider.stage}.SQSMailQueueArn}
   url: ${cf:auctions-notifications-service-${self:provider.stage}.SQSMailQueueUrl}
  
  AuctionsS3ImagesBucket:
   name: auctionss3bucket-minarofaael-${self:provider.stage}

